<!doctype html>
<html lang='en'>

<head>

    <title>Hi-Low</title>
    <meta charset='utf-8'>

    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
    <script src='script.js' defer></script>

    <style>
        [v-cloak] {
            display: none;
        }

        .pass {
            background-color: green;
        }

        .fail {
            background-color: red;
        }

        .feedback {
            display: inline-block;
            padding: 5px;
            margin: 10px 0;
            color: white;
            font-weight: bold;
        }
    </style>

</head>

<body>

    <h1>Hi-Low</h1>
    <div id='app' v-cloak>
        <round-detail></round-detail>
        <div>
            <label for='userInput'>Guess a nmuber between 0 and 100:</label>
            <input type='text' id='userInput' v-model='userInput' @keyup.enter='GuessNumber'>
            <button @click='GuessNumber'>Guess Number</button>
        </div>

        <div v-if='feedback' class='feedback' :class="{ pass : correct, fail: failed }">
            <div v-if='correct'>You got it! Nice work. <button @click='PlayAgain'>Play again</button></div>
            <div v-else-if='high'>Sorry, you guessed higher. You have {{ attempt }} remaining</div>
            <div v-else-if='low'>Sorry, you guessed lower. You have {{ attempt }} remaining</div>
            <div v-else-if='gameOver'>Sorry, game is over. <button @click='PlayAgain'>Play again</button></div>
        </div>

    </div>

</body>

</html>